/* ---------------------------------------------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* ---------------------------------------------------------------------------- */
._container {
  max-width: 1440px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* ---PAGE------------------------------------------------------------------------- */
.main {
  flex: 1 1 auto;
}

.main_information {
  position: relative;
  z-index: 2;
}

.page__clients:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

/* ---HEADER-BLOCK------------------------------------------------------------------------- */
.header-block {
  text-align: left;
  letter-spacing: 0.2px;
}

.header-block__title {
  margin-top: 50px;
  line-height: 142%;
  font-weight: 700;
  font-size: 48px;
}

.header-block__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .header-block__title {
    font-size: 30px;
  }
}

/* ---MAIN-BLOCK------------------------------------------------------------------------- */
.main-content {
  position: relative;
}

.main-content__body {
  padding: 100px 0px 0px 0px;
  position: relative;
  z-index: 2;
}

@media (max-width: 992px) {
  .main-content__body {
    padding: 60px 0px 0px 0px;
  }
}

@media (max-width: 479px) {
  .main-content__body {
    padding: 50px 0px 0px 0px;
  }
}

.main-content__title {
  color: white;
  font-size: 60px;
  line-height: 137%;
  letter-spacing: 0.2px;
  font-weight: 800;
}

@media (max-width: 670px) {
  .main-content__title {
    color: rgb(78, 107, 146);
  }
}

@media (max-width: 479px) {
  .main-content__title {
    font-size: 40px;
  }
}

.main-content__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0px 25px 0px;
}

.main-content__button {
  background-image: linear-gradient(135deg, #4743FF, #06E1FF);
  color: black;
  font-size: 23px;
  border-radius: 5px;
  display: flex;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2px;
  font-weight: 700;
  line-height: 150%;
  padding: 5px 65px;
  margin: 10px 0;
}

.main-content__button:nth-child(1) {
  background: url("../img/img/schedule.png") 5%/45px 45px no-repeat #3183FF;
}

.main-content__button:nth-child(2) {
  background: url("../img/img/ticket.png") 5%/45px 45px no-repeat #3183FF;
}

.main-content__button {
  box-shadow: 1px 1px 10px black;
}

.main-content__button:hover {
  box-shadow: inset 1px 1px 10px black;
}

@media (max-width: 479px) {
  .main-content__button {
    flex: 1 1 100%;
  }

  .main-content__button {
    font-size: 19px;
  }
}

@media (min-width: 479px) {
  .main-content__button:not(:last-child) {
    margin-right: 10px;
  }
}

@media (max-width: 340px) {
  .main-content__button:nth-child(2) {
    padding-left: 100px;
  }
}

.main-content__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* ----------------------------------- */
.information__item {
  border-radius: 5px;
  text-align: center;
  color: white;
}

@media (min-width: 1022px) {
  .information__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
  }
}

.information__block {
  flex: 0 1 calc(100%/3);
}

.item-information__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  margin-bottom: 30px;
  border-radius: 5px;
  width: 80%;
  padding: 20px 50px 20px 110px;
  border: 3px solid white;
  transition: all 0.4s ease;
}

.information__body .information__block:nth-child(1) .button {
  background-image: url("../img/img/navigation.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 7%;
}

.information__body .information__block:nth-child(2) .button {
  background-image: url("../img/img/portfolio.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 7%;
}

.information__body .information__block:nth-child(3) .button {
  background-image: url("../img/img/korona.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 7%;
}

.button:hover {
  background-color: white;
  color: black;
}

.information__body .information__block:nth-child(1) .button:hover {
  background-image: url("../img/img/navigation2.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 7%;
}

.information__body .information__block:nth-child(2) .button:hover {
  background-image: url("../img/img/portfolio2.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 7%;
}

.information__body .information__block:nth-child(3) .button:hover {
  background-image: url("../img/img/korona2.svg");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 7%;
}
.modal {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content h2 {
  color: black;
  font-size: 30px;
}
.modal-content p {
  padding-top: 20px;
  font-size: 20px;
  color: black;
}

/* Кнопка закрытия */
.close1, .close2, .close3 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover, .close2:hover, .close3:hover,
.close1:focus, .close2:focus, .close3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.item-information__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 30px;
  line-height: 133%;
  padding: 40px 50px 80px 50px;
}

@media (max-width: 1309px) {
  .information__block {
    flex: 0 1 50%;
  }

  .information__block:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }

  .information__block:last-child {
    flex: 1 1 100%;
  }

  .information__item {
    padding: 0px 30px 0px 30px;
  }

  .item-information__title {
    font-size: 50px;
  }

  .item-information__button {
    padding: 120px 0px 0px 0px;
  }

  .button {
    font-size: 32px;
    width: 100%;
  }
}

@media (min-width: 670px) {
  .information__block {
    padding: 0px 15px;
  }
}

.information__block:nth-child(1) .information__item {
  background-image: linear-gradient(rgba(21, 0, 252, 0.4), rgba(21, 0, 252, 0.4)), url("../img/img/railway_station.jpg");
  background-size: 100% 100%;
}

.information__block:nth-child(2) .information__item {
  background-image: linear-gradient(rgba(21, 0, 252, 0.4), rgba(21, 0, 252, 0.4)), url("../img/img/business.jpg");
  background-size: 100% 100%;
}

.information__block:nth-child(3) .information__item {
  background-image: linear-gradient(rgba(21, 0, 252, 0.4), rgba(21, 0, 252, 0.4)), url("../img/img/vip.jpg");
  background-size: 100% 100%;
}

@media (max-width: 746px) {
  .information__body .information__block:nth-child(1) .button {
    background-size: 30px 30px;
  }

  .button {
    font-size: 20px;
  }

  .item-information__button {
    padding: 0;
  }

  .item-information__title {
    font-size: 40px;
  }
}

@media (max-width: 479px) {
  .item-information__title {
    font-size: 20px;
  }

  .information__body .information__block .button {
    background-size: 30px 30px;
    background-position: 10%;
  }

  .button {
    font-size: 15px;
    padding: 20px 50px 20px 80px;
  }

  .item-information__button {
    padding: 0;
  }
}

.item-information {
  margin: 0px 0px 10px 0px;
}

.services__title {
  margin: 0px 0px 25px 0px;
}

@media (max-width: 767px) {
  .services__title {
    margin: 0px 0px 25px 0px;
  }
}

.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px -30px;
}

.advantages__column {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
  flex: 0 1 25%;
}

@media (max-width: 1020px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 560px) {
  .advantages__column {
    flex: 0 1 100%;
  }

  .services__title h2 {
    font-size: 30px;
  }
}

.advantages__item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px lightgray;
  padding: 30px;
  font-weight: 700;
  text-align: center;
}

.advantages__item:hover {
  box-shadow: 0px 0px 15px lightgray;
}

.advantages__item {
  margin: 0px 0px 10px 0px;
}

.advantages__icon {
  height: 100px;
  width: 100px;
  background-image: linear-gradient(135deg, #4743FF, #06E1FF);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages__icon img {
  width: 50px;
  height: 50px;
}

.advantages__value {
  font-size: 25px;
  text-align: left;
  line-height: 142%;
}

.advantages__text {
  letter-spacing: 0.1px;
  text-align: left;
  color: #737373;
  line-height: 200%;
}

.advantages__text a {
  display: inline-block;
  font-size: 20px;
  color: black;
  font-weight: 500;
  text-decoration: underline;
}

.advantages__text a:hover {
  color: #3183FF;
}

@media (max-width: 1290px) {
  .advantages__item {
    padding: 20px;
  }

  .advantages__icon {
    height: 85px;
    width: 85px;
  }

  .advantages__icon img {
    width: 35px;
    height: 35px;
  }

  .advantages__value {
    font-size: 20px;
  }

  .advantages__text a {
    font-size: 17px;
  }
}

@media (max-width: 993px) {
  .practice {
    padding: 40px 0px 80px 0px;
  }
}

@media (max-width: 767px) {
  .practice {
    padding: 0px 0px 40px 0px;
  }
}

.practice__header {
  margin: 0px 0px 25px 0px;
}

@media (max-width: 767px) {
  .practice__header {
    margin: 0px 0px 25px 0px;
  }
}

.practice__body {
  margin: 0px -20px -30px;
  display: flex;
  flex-wrap: wrap;
}

.practice__column {
  padding: 0px 20px;
  margin: 0px 0px 25px 0px;
  flex: 0 1 50%;
}

@media (max-width: 760px) {
  .practice__column {
    flex: 0 1 100%;
    margin-top: 10px;
  }
}

.item-practice {
  border-left-width: 3px;
  border-left-style: solid;
  border-image: linear-gradient(180deg, #4743FF, #06E1FF) 1 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.item-practice__content {
  padding: 0px 0px 0px 20px;
  flex: 1 1 auto;
}

.item-practice__link {
  color: inherit;
  display: inline-block;
}

.item-practice__link:hover {
  color: #3183FF;
}

.item-practice__link:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-practice__title {
  letter-spacing: 0.1px;
  font-size: 30px;
  font-weight: 700;
  line-height: 150%;
}

.item-practice__text {
  color: black;
  line-height: 142%;
  font-size: 20px;
}


/* Новости */
.news__body {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.news__block {
  position: relative;
  flex: 0 1 50%;
  padding: 0px 15px;
}

.news__item {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  color: white;
  padding: 300px 20px 30px 20px;
  transition: 0.7s;
}

.item-news {
  margin: 0px 0px 10px 0px;
}

.item-news__title {
  z-index: 2;
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 25px;
  line-height: 133%;
}

.item-news__title a {
  color: white;
}

.overlay {
  position: absolute;
  bottom: 0px;
  left: 15px;
  right: 15px;
  background-color: #00000073;

  border-radius: 5px;
  height: 0;
  transition: .6s ease;
}

.news__block:nth-child(1) .news__item {
  background-image: linear-gradient(rgba(21, 0, 252, 0.4), rgba(21, 0, 252, 0.4)), url("../img/img/veterani.jpg");
  background-size: 100% 100%;
}

.news__block:nth-child(2) .news__item {
  background-image: linear-gradient(rgba(21, 0, 252, 0.4), rgba(21, 0, 252, 0.4)), url("../img/img/parad.jpg");
  background-size: 100% 100%;
}

.news__item:hover {
  padding: 165px 20px 165px 20px;
}

.news__item:hover .overlay {
  height: 100%;
}

@media (max-width: 1070px) {
  .news__block {
    flex: 0 1 100%;
  }

  .news__block:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }

  .news__item {
    padding: 300px 10px 20px 10px;
  }

  .news__item:hover {
    padding: 160px 10px 160px 10px;
  }

  .news__item h3 {
    font-size: 30px;
  }
}

@media (max-width: 670px) {
  .news__block {
    flex: 0 1 100%;
    padding: 0px 15px;
  }

  .news__block:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }

  .news__item {
    padding: 300px 10px 20px 10px;
  }

  .news__item:hover {
    padding: 160px 10px 160px 10px;
  }

  .news__item h3 {
    font-size: 30px;
  }
}

@media (max-width: 650px) {
  .news__item {
    padding: 300px 10px 20px 10px
  }

  .news__item:hover {
    padding: 160px 10px 160px 10px;
  }

  .news__item h3 {
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  .news__item {
    padding: 220px 10px 20px 10px
  }

  .news__item:hover {
    padding: 120px 10px 120px 10px;
  }

  .news__item h3 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .news__item {
    padding: 170px 10px 20px 10px
  }

  .news__item:hover {
    padding: 95px 10px 95px 10px;
  }

  .news__item h3 {
    font-size: 17px;
  }
}

@media (max-width: 420px) {
  .news__item {
    padding: 160px 10px 20px 10px
  }

  .news__item:hover {
    padding: 90px 10px 90px 10px;
  }

  .news__item h3 {
    font-size: 13px;
  }
}